@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Yusei+Magic&display=swap');


:root {
  --primary-color-text:#a9a9a9;
  --primary-color-headlines:#c3a1e1;
  --primary-color-butons:#fdfda9;
  --primary-color-butons-op:#c3a1e141;
  --primary-color-butons:#fdfda9;
  --primary-color-backgrounds:#fdfdf8;


  --primary-text-header:font-family:"Yusei Magic", sans-serif;font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
}

html.active,
body.active {
  overflow: hidden;
  position: fixed; /* This prevents bounce scrolling on iOS */
  width: 100%; /* These ensure the body takes up the full viewport */
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  color: var(--primary-color-text);
  background-color: var(--primary-color-backgrounds);
  padding: 20 16px;
}

.menu {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.page-menu {
  justify-self: end;

}


.hamburger {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 58px;
  justify-content: space-around;
  /*  teil oli siin spake between ma panin around ja height jai ikka 4 joontele */
  align-items: center;
  background-color: var(--primary-color-butons);
  border: 3px solid var(--primary-color-headlines);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 6px;
  margin: 24px;
}



.menu-panel {
  position: absolute;
  right: -264px;
  top: 0;
  width: 264px;
  height: 519px;
  background-color: #a9a9a9;
  box-sizing: border-box;
  padding-top: 32px;
  transition: right 1s ease-in-out;
}

.menu-panel.active {
  right: 0;

}

.menu-panel ul {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  padding: 0;


}
.menu-panel ul li{
  margin-bottom: 32px;
}
.menu-panel ul li a{
text-decoration: none;
color: var(--primary-color-backgrounds);
}

/* javaskriptijaoks paneel */
.close-menu-box {
  position: relative;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color:var(--primary-color-backgrounds);
}

.close {
  position: relative;
  color: var(--primary-color-backgrounds);
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  justify-content:center;
}

.cross {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: var(--primary-color-text);
  transform: rotate(45deg);
}

.cross-minus {
  width: 40px;
  height: 6px;
  background-color: var(--primary-color-text);
  transform: rotate(-45deg);
}

.menu-list {
  display: none;
}


.line {
  width: 40px;
  height: 4px;
  background-color: var(--primary-color-headlines);


}

.logo-span {
  /* font-family: var(--primary-text-header); eitoiminudvaatajargikuidastextivarkaib*/
  display: inline-block;
  font-family:"Yusei Magic", sans-serif;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  color: var(--primary-color-headlines);
  margin: 24px;
}


.profile {
text-align: center;
}
.profile-image  img{
  display: inline-block;
  margin: 24px;
  width: 170px;
  height: 170px;
  border-radius: 55%;
  object-fit:cover;
  background-color: rgba(68, 101, 199, 0.548);
}

.profile-learn-more {
  display: none;
}


hr {
  width: 150px;
  height: 12px;
  background-color: var(--primary-color-headlines);
  border-radius: 7px;
  border: none;
}

.headline h3 {
  text-align: center;
  color: var(--primary-color-headlines);
  font-family:"Yusei Magic", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  margin:0 ;
}

.frame {
  text-align: center;
  width: 100%;
}


.frame img {
  display: inline-block;
  background-color: var(--primary-color-butons-op);
  width: 296px;
  height: 165px;
  object-fit: contain;
  margin: 20px 0 20px 0;
  transition: 1s;

}

.my-works-intro{
  display: none;
}
.gallery{
  display: none;
}

.my-clients {
  width: 100%;
}
.card {
  width: 100%;
  text-align: center;
}

.card h4 {
  font-family:"Yusei Magic", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  margin: 5px;
  
}

.card img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-top:  20px;
  
}

.card ul {
  display: inline-block;
  padding: 0;
  list-style: none;
  text-transform:uppercase;
  margin: 0;
}
.card ul li {  
  background-color: var(--primary-color-butons-op ) ;
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  gap: 8px;
}

.card p {
  margin: 15px;
}

.contact{
  width: 100%;
  text-align: center;
  padding-top: 32px;
}
.contact  .headline .saying{
  display: none;
}

.contact button{
  border: none;
  text-transform: uppercase;
  font-family: 24px;
  padding: 15px 50px;
  background-color: var(--primary-color-butons);
  margin: 32px;
}

.contact-form {
  display: none;
}

.contact-intro {
  display: none;
}
.contact-details {
  display: none;
}

.social-media {
  width: 100%;
  text-align: center;
  padding-top: 48px;
}

.social-media-icons ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.social-media-icons ul li {
  display:inline-block;
  margin: 8px;
}
.social-media-icons ul li img{
  width: 50%;
}

footer {
  text-align: center;
  padding-top: 48px;
}

@media (min-width: 600px) and (max-width:1204px) {
  .hamburger {
    display: none;
  }

  .menu {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    box-sizing: border-box;
    padding-right: 24px;
  }
  .menu-list {
    display: block;
  }

  .menu-list ul {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color-text);
  }
  
  .menu-list ul li {
    display: inline-block;
    margin-right: 8px;

  }

  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .profile-image  img{
    width: 264px;
    height: 264px;
  }

  .profile-learn-more {
    display: grid;
    align-items: center;
    justify-content: start;
  }

  .profile-details span {
    display: block;
    font-size: 36px;
    width: 284px;
    text-align: start;
    margin-left:20px ;
    font-weight: 300;
  }

  .profile-details button {
    display: block;
    background-color: var(--primary-color-butons);
    color: var(--primary-color-headlines);
    font-size: 24px;
    width: 251px;
    padding: 14px 20px;
    border: none;
    margin-left: 24px;
    margin-top: 8px;
    border-radius: 6px;
  }

  .profile-details button img {
    height: 10%;
    width: 10%;
    align-items: center;
  }

  .my-works .frame {
    display: none;
  }


  hr {
    margin-left: 32px;
  }

  .headline h3 {
    padding-left: 32px;
    text-align: start;
  }


  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin-left: 32px;
    margin-top: 32px;
  
  }

  .gallery  img{
    background-color: aqua;
   width: 370px;
   height: 210px; 
   object-fit: cover;
  }


  .my-clients {
    margin-top: 48px;
  }
  .my-clients p{
    width: 370px;
    margin: 15px auto;
  }

  .card {
    margin-top: 48px;
  }

  .contact  .headline .saying{
    display: block;
  }

  .contact-intro{
    width: 100%;
    display: block;

  }

  .btn-contact {
    display: none;
  }


  .contact-intro p{
    width: 340px;
    text-align: start;
    margin-left: 32px;
  }

  .contact-form {
    display: block;
    width: 100%;
    font-size: 20px;
  }
  .contact-form form{
    text-align: start;
    box-sizing: border-box;
    padding: 32px;
  }
  
  input, textarea {
    width: 100%;
    background-color: var(--primary-color-butons);
    border-radius: 6px;
    border: 0;
    border-top: 2.5px;
    border-style: outset;
  }

  input {
    height: 20px;
  }
  .btn-form button{
    background-color: var(--primary-color-headlines);
    color: var(--primary-color-backgrounds);
    text-transform: none;
    border-radius: 8px;
    margin-left: 0;

  }

.contact-details {
  width: 100%;
  display: block;
}
.contact-details img {
  width: 32px;
  padding-right: 8px;
}


  .contact-details ul {
    list-style: none;
    padding: 0;
    text-align: start;
    margin-left: 32px;
    font-family: 2opx;
  }

.social-media-icons ul {
  text-align: start;
}
.social-media-icons ul li{
  margin-right: 12px;
}
.social-media-icons ul li img{
  width: 80%;
}
}


@media (min-width: 1025px)  {

  /* .menu {
    background-color:chocolate;
  } */

  .hamburger {
    display: none;
  }

  .menu {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
.menu-list {
  display: block;
  box-sizing: border-box;
  padding: 16px;

}

  .menu-list ul {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-color-text);
  }
  
  .menu-list ul li {
    display: inline-block;
    margin-right: 16px;

  }

  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .profile-image  img{
    width: 600px;
    height: 600px;
  }
  
  .profile-learn-more {
    display: grid;
    align-items: end;
    justify-content: center;
  }
  
  .profile-details {
    margin-bottom: 48px;
  }


  .profile-details span {
    display: block;
    font-size: 36px;
    width: 284px;
    text-align: start;
    font-weight: 300;
  }

  .profile-details button {
    display: block;
    background-color: var(--primary-color-butons);
    color: var(--primary-color-headlines);
    font-size: 32px;
    width: 316px;
    height: 94px;
    padding: 14px 20px;
    border: none;
    margin-top: 8px;
    border-radius: 6px;
  }

  .profile-details button img {
    height: 40%;
    width: 10%;
    align-items: center;
  }

  .my-works .frame {
    display: none;
  }


  hr {
    width: 318px;
    height: 15px;
    margin-left: 32px;
  }
  
  .headline h3 {
    font-size: 64px;
    text-align: start;
    margin-left: 32px;
    
  }
  
  .my-works-intro {
    width: 920px;
    margin-left: 32px;
  }


  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 32px;
 

  
  }

  .gallery  img{
    background-color: aqua;
   width: 453px;
   height: 305px; 
   object-fit: cover;
  }


  .my-client-card {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 48px;
  }
  .my-clients p{
    width: 570px;
    margin: 15px auto;
  }
  
  .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 95%;
    align-items: center;
    margin: 32px auto;
    border: 2px solid color-mix(in srgb, var(--primary-color-text) 50%, transparent);
    padding: 32px;
  }
  /* claude ai pakkus l천puks sellist lahendust mingi modern css  */

  .card h4 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 12px;
  }

  .card p {
    margin: 0;
  }

  /* mul olid need listina tehtud mitte spanina */
  .card ul {
    margin-bottom: 8px;
  }
  .card ul li {
    display: inline-block;
    margin-right: 12px;
  }
/* .card-image {
} */
.card-image img {
  width: 216px;
  height: 163px;
  margin: 0;
  }

.card-text-content {
  text-align: start;
  box-sizing: border-box;
  padding-right: 64px;
}



  .btn-contact {
    display: none;
  }

  .contact  .headline .saying{
    display: block;
  }

  .contact-intro{
    display: block;
    text-align: start;
  }

  .contact-intro p{
    width: 950px;
    text-align: start;
    margin-left: 32px;
  }

/* vaata kas v천tad need kaks eest maha v천i j채tad */


/* aadress jooned esimesest teiseni esimesest kolmandani */

  .contact-form {
    display: block;
    width: 100%;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .contact-form form{
    text-align: start;
    box-sizing: border-box;
    padding: 32px;
  }
  
  input, textarea {
    width: 100%;
    background-color: var(--primary-color-butons);
    border-radius: 6px;
    border: 0;
    border-top: 2.5px;
    border-style: outset;
  }
  
  input {
    height: 32px;
    margin-bottom:20px ;
  }
  
  
  .btn-form button{
    background-color: var(--primary-color-headlines);
    color: var(--primary-color-backgrounds);
    text-transform: none;
    border-radius: 8px;
    margin-left: 0;
  }
  
.contact-details {
  display: block;
  display: inline-block;
  width: 100%;
  font-size: 24px;

  text-align: start;
  grid-column: 2/3;
  grid-row: 1/3;
  box-sizing: border-box;
  padding: 32px;
}

.contact-details img {
  width: 48px;
  padding-right: 8px;
}

.contact-details ul {
  list-style: none;
  padding: 0;
  text-align: start;
}
.contact-details ul li {
  padding-bottom: 24px;
}

/* aadress jooned teisest kolmandani */
.social-media {
  grid-column: 2/3;
  grid-row: 2/3;
  /* background-color: var(--primary-color-butons); */
  text-align: start;
  box-sizing: border-box;
  padding: 0;
  margin-left: 32px;
}

.social-media h3 {
  font-size: 32px;
  margin-left: 0;
}

.social-media-icons ul {
  text-align: start;
  padding: 0;
}
.social-media-icons ul li{
  margin: 0;
}

.social-media-icons ul li img{
  width: 80%;
}

.get-in-touch {
  width: 100%;
  /* background-color: #b8e2bf; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}}